.rm-switches {
    &.bp3-omnibar {
        border-radius: 12px;
    }
    a.bp3-active.bp3-menu-item {
        background-color: #7cccff33;
        color: inherit;
    }
    .shadowTop() {
        box-shadow+: 0px -1px 0px 0px #d2cdcd;
    }

    .shadowRight() {
        box-shadow+: 1px 0px 0px 0px #d2cdcd;
    }

    @media (min-width: 768px) {
        width: 80vw;
        left: 10%;

        &-sidebar-mode {
            width: calc(80vw - 200px);
        }
    }

    @media (min-width: 1024px) {
        width: 768px;
        left: calc(50% - 384px);

        &-sidebar-mode {
            width: 568px;
        }
    }

    top: 20vh;

    a {
        text-decoration: none;
    }

    a:focus {
        outline: none;
        box-shadow: none;
    }

    button:focus {
        outline: none;
    }
    .zoom-stack-container {
        padding: 6px ;
        display: flex;
        gap: 8px;
        .rm-zoom-item {
            color: #999999;
        }
        .bp3-icon {
            color: inherit
        }
    }

    .zoom-path-view {
        margin-bottom: 0px;
    }
    .rm-page-ref--tag {
        color: white;
    }


    .bp3-active .bp3-button {}

    .switch-result-item {
        white-space: initial;
        position: relative;
        display: flex;
        strong {
            background-color: var(--highlight-color);
        }
        &.tag-mode {
            flex-wrap: wrap;
            gap: 4px;

            .ellipsis {
                -webkit-line-clamp: 1;
            }

            .rm-page-ref--tag {
                margin-right: 5px;
                max-width: unset;

                .bp3-dark & {
                    color: #182026;
                }
            }
        }

        span[data-link-title^="[[__H:__"] {
            background-color: gold;
            .rm-page-ref__brackets {
                display: none;
            }
            [data-link-title="__H:__"] {
                display: none;
            }
            .rm-page-ref__brackets {
                display: none;
            }
        }

        small {
            display: inline-block;
            max-width: 200px;
            position: relative;
            top: 2px;
            font-size: 70%;
        }
       
        &:hover {
            .right-menu {
                opacity: 1;
            }
        }

        button.bp3-button.bp3-fill.bp3-minimal.bp3-align-left:hover {
            background-color: unset;
        }

        .right-menu {
            opacity: 0;
            position: absolute;
            right: 0;
            top: -5px;
        }

        .rm-bullet__inner {
            margin-top: 4px;
            margin-right: 2px;
            min-width: 5px;
            min-height: 5px;
        }

        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            flex: 1;
            white-space: initial;
        }

        .deep {
            margin-right: 5px;
        }
    }

    &-preview {
        max-height: 600px;
        flex: 4;
        transform: scale(1);
        overflow: auto;
        // border-left: 1px solid grey;
        // border-top: 1px solid grey;
        // border-top-left-radius: 10px;
        padding-top: 20px;
        padding-right: 10px;
        // margin: 0 20px;

        .rm-block-separator {
            display: none;
        }

        border-radius: 6px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);

        .rm-page-ref--tag {
            color: #A7B6C2;
        }
        
    }

    .bp3-menu {
        flex: 5;
    }

    &-hints {
        padding: 5px 10px;
        color: #999999;
        .shadowTop();

        >span {
            margin-right: 10px;
        }

        .hint-icon {
            box-sizing: border-box;
            height: 20px;
            min-width: 20px;
            border-radius: 4px;
            padding-left: 4px;
            padding-right: 4px;
            border: 1px solid rgb(231 231 239);
        }
    }
  
}