.rm-switchs {
    .switch-result-item {
        white-space: initial;

        .rm-page-ref--tag {
            margin-right: 5px;
        }

        small {
            display: inline-block;
            max-width: 200px;
            position: relative;
            top: 2px;
        }
    }
}